<h1>アフィリエイト編集</h1>
<p><a href="/admin/affiliate/index">＜一覧へ戻る</a></p>
<form method="POST" action="/admin/affiliate/edit/<%= @affiliate.id %>">
<table>
	<tr><th>名前</th><td><input type="text" name="name" value="<%= @affiliate.name %>"></td></tr>
	<tr><th>画像</th><td><input type="text" name="image" value="<%= @affiliate.image %>"></td></tr>
	<tr><th>リンク</th><td><input type="text" name="link" value="<%= @affiliate.link %>"></td></tr>
	<tr><th>詳細</th><td><textarea name="description"><%= @affiliate.description %></textarea></td></tr>
	<tr>
		<td colspan="2"><input type="submit" value="登録" /></td>
	</tr>	
</table>
</form>

<%= debug(@affiliate) %>
